= simple_fields_for "organization[departments_attributes][#{item.new_record? ? get_uniq_id : item.id}]", item do |f|
	= f.input_field :id, as: :hidden
	= f.input :name, label: "Наименование"
	= f.input :fullname, label: "Полное наименование"