= provide(:title, "Пользователи")

== render "shared/controlPanel", btn: {add: "Создать пользователя"}

== render "shared/subjects/items_list", items: @users

= will_paginate class: "pagination pagination-centered"