= provide(:title, "Контрагенты")

== render partial: "shared/controlPanel", locals:{btn: {add: "Создать контрагента"}, item: @customer}

== render "shared/subjects/items_list", items: @customers

= will_paginate class: "pagination pagination-centered"