= provide(:title, "Контрагенты")

== render "shared/controlPanel", btn: {add: "Создать контрагента"}

== render "shared/subjects/items_list", items: @customers

= will_paginate class: "pagination pagination-centered"