@import "bootstrap";
@import "font-awesome";

html {
	height: 100%
}
body {
	background-color: rgba(184, 184, 184, 0.3) ;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	height: 100%;
}

/* TOPOGRAPHY */
h5 {
	font-weight: normal;
}

.row-fixed {
	padding-top: 70px;
}

.container-signin {
	max-width: 700px;
	min-height: 300px;
	padding: 19px 19px;
	margin: 0 auto 20px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	border-right: 1px solid #e5e5e5;
}

.push {
	height: 40px;
}

.alert { margin-bottom: 0px }

#flash_notice { 
	display: none;
	&:hover { cursor: wait }
}


#form_errors {
	display: none;
	&:hover { cursor: wait }
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
		font-size: 0.9em;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.form_fields {
	padding: 20px 20px 20px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.media-list {
	margin: 2px 10px 10px 10px;
	li.media {
		padding-top: 5px;
		padding-left: 5px;
		height: 40px;
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		box-shadow: 0 1px 2px rgba(0,0,0,.05);
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
		&:hover {
			-webkit-transform: translateX(4px);
			-moz-transform: translateX(4px);
			-o-transform: translateX(4px);
			transform: translateX(4px);

			-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			-webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			-moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;     
		}
		.media-body {
			padding-right: 5px;
			.media-heading {
				.date {margin-right: 10px}
			}
		}
	}
}

.modal {
    /* new custom width */
    width: 700px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -380px;
    .well {
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
}

.barcode {
	form {
		.control-group {
			margin-bottom: 0px;
			#request_barcode {
				margin-bottom: 10px;
			}
		}
		margin-bottom: 0px;
	}
}

aside {
	padding-right: 10px;
	margin-right: 250px;
	width: 220px;
	border-right: 1px solid #e5e5e5;
}
article {
	float: right;
	padding-top: 5px;
	.alert {
		margin-bottom: 5px;
	}
}

.modal-body {
	max-height: 300px;
	margin-top: 0px;
	padding-top: 0px;
}

form.form-inline div.control-group { display: inline-block; }
form.form-inline div.control-group div.controls { display: inline-block; }


