@import "bootstrap";
@import "font-awesome";

html {
	height: 100%
}
body {
	background-color: rgba(184, 184, 184, 0.3) ;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	height: 100%;
}

/* TOPOGRAPHY */
h5 {
	font-weight: normal;
}

.row-fixed {
	padding-top: 70px;
}

.container-signin {
	max-width: 700px;
	min-height: 300px;
	padding: 19px 19px;
	margin: 0 auto 20px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	border-right: 1px solid #e5e5e5;
}

.push {
	height: 40px;
}

.alert { margin-bottom: 0px }

#flash_notice { 
	display: none;
	&:hover { cursor: wait }
}


#form_errors {
	display: none;
	&:hover { cursor: wait }
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
		font-size: 0.9em;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.form_fields {
	padding: 20px 20px 20px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.media-list {
	position: relative;
	margin:1em 10px 4em;
	padding-top: 1em;
	padding-bottom: 1em; 
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
	&:before,
	&:after {
		content:"";
		position:absolute;
		z-index:-2;
	}
	&:before {
		top:0px;
		bottom:0px;
		left:10px;
		right:10px;
		-webkit-box-shadow:0 0 5px rgba(0,0,0,0.6);
		-moz-box-shadow:0 0 5px rgba(0,0,0,0.6);
		box-shadow:0 0 5px rgba(0,0,0,0.6);
		-moz-border-radius:100px / 15px;
		border-radius:100px / 15px;
	}
	li.media {
		margin-top: 5px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		height: 40px;
		background:#fff;
		border-radius: 3px;
		&:hover {
			background-color: #0081c2;
			background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
			background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
			background-image: -o-linear-gradient(top, #0088cc, #0077b3);
			background-image: linear-gradient(to bottom, #0088cc, #0077b3);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0);
			i.pull-left {
				color: #fff;
			}
			color: #fff;
			small {
				color: #fff;
			}
		}
		.media-body {
			padding-right: 5px;
			.media-heading {
				.date {margin-right: 10px}
			}
		}
	}
}


.modal {
    /* new custom width */
    width: 740px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -400px;
    .modal-header {
    	color: #fff;
    	background-color: #0081c2;
    	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    	background-repeat: repeat-x;
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0);
    	i.close {
    		color: #fff;
    		opacity: 0.8;
    		&:hover {
    			opacity: 1;
    		}
    	}
    }
    .modal-body {
    	max-height: 320px;
    	form {
    		margin-bottom: 0px;
    	}
    	hr {
    		margin: 10px;
    	}
    }
    .well {
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
}

.talon{
	.media{
		margin-top: 0px;
	}
}
.progress{
	height: 10px;
	margin-bottom: 0px;
}

aside {
	padding-right: 10px;
	margin-right: 250px;
	width: 200px;
	border-right: 1px solid #e5e5e5;
	.recuest_barcode {
		margin-top: 5px;
	}
}
article {
	float: right;
	width: 480px;
	max-height: 190px;
	overflow-y: auto;
	.operation {
		display: inline-block;
		width: 155px;
		margin-bottom: 5px;
		margin-right: 4px;
		i.close {
			padding-right: 2px;
			padding-top: 1px;
			color: #fff;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.talon {
	color: #fff;
	height: 45px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0);
	.pull-left {
		padding-right: 5px;
		border-right: 1px solid;
	}
	.media-body {
		margin-top: 5px;
	}
}
.form_header {
	.control-group {
		margin-bottom: 0px;
	}
	.organization {
		padding: 0.5em;
	}
	.customer {
		padding: 0.5em;
	}
}


