= provide(:title, "Организации")

== render "shared/controlPanel", btn: {add: "Создать организацию"}

== render "shared/subjects/items_list", items: @organizations 

= will_paginate class: "pagination pagination-centered"