= provide(:title, "Организации")

== render partial: "shared/controlPanel", locals:{btn: {add: "Создать организацию"}, item: @organization}

== render "shared/subjects/items_list", items: @organizations 

= will_paginate class: "pagination pagination-centered"