= provide(:title, "Нефтепродукты")

== render partial: "shared/controlPanel", locals:{ btn: {add: "Создать нефтепродукт"}, item: @product}

== render "shared/subjects/items_list", items: @products

= will_paginate class: "pagination pagination-centered"